<nav class="navBorder navbar navbar-light" style="background-color: #ffffff;">
    <h3 class="navTags">Finders Keeper</h3>
    <a class="navTags" href="/">Homepage</a>
    <a class="navTags" href="/animals">Search For More Pets</a>
    <a class="navTags" href="/auth/logout">Logout</a>
</nav>

<h2 class="headingText"><%= name %>'s Favorited Pets:</h2>

<div class="parent">
    <% for (let i=0; i<animals.length; i++) {%>
        <div class="child">
            <div class="petInfo">
                <h3>
                    <a href="/profile/<%= animals[i].animalId %> "><%= animals[i].name %> </a>
                </h3>
                <% if(animals[i].image) {%>
                    <img src="<%= animals[i].image %> " alt="<%= animals[i].name %> ">
                <% } else { %>
                        <p>No Image Avaliable</p>
                <% } %> 
                <h5> Age: <%= animals[i].age %> </h5>
                <% if (animals[i].breed != null) {%> 
                <h5> Breed: <%= animals[i].breed %> </h5> 
                <% } else { %> 
                    <h5>Breed: Unknown</h5>
                <% } %>
        
                <form action="/profile/<%= animals[i].id %>?_method=DELETE" method="POST">
                    <input value="Remove from Favorites" type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    <% } %>
</div>


